.paste-formatter-rule-section .setting-item {
	/* Force horizontal row for mobile layout */
	flex-direction: row !important;
}

.paste-formatter-regex,
.paste-formatter-replacement {
	flex-wrap: wrap;
}

.paste-formatter-regex .setting-item-control {
	flex-basis: 35rem;
}

.paste-formatter-regex .setting-item-control {
	flex-basis: 25rem;
}

.paste-formatter-regex-input,
.paste-formatter-replacement-input {
	flex-grow: 1;
}
