.paste-formatter-regex, .paste-formatter-replacement {
  flex-wrap: wrap;
  gap: 1rem;
}

.paste-formatter-regex-input {
  width: 100%;
  min-width: min(100%, 500px);
}

.paste-formatter-replacement-input {
  width: 100%;
  min-width: min(100%, 200px);
}
